.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 7vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    padding: 5vw;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Search-Bar {
  width: 75vw;
  font-size: 3vw;
  padding: 1vw;
  font-family: monospace;
  background-color: ivory;
  margin: 2vw;
}

.Search-Button {
  font-size: 3vw;
  padding: 1vw;
  font-family: monospace;
  background-color: ivory;
}
.Search-Result {
  font-size: 2vw;
}

.Search-Result img {
  width: 25vw;
  border-radius: 2vw;
}

.Search-Results {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
